@tailwind base;
@tailwind components;
@tailwind utilities;

/* *  {
  box-sizing: border-box;
  background: rgb(0 100 0 / 0.1) !important;
} */

@layer base {
  body {
    @apply text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "new-order";
    @apply font-medium leading-relaxed;
  }


  button {
    @apply w-full;
  }
}

@layer utilities {
  .f-new-order,
  .font-no {
    font-family: "new-order"
  }

  .transition-default {
    @apply transition duration-200 ease-linear;
  }

  .c-navy {
    color: #181F49;
  }

  .c-bg-navy {
    background-color: #181F49;
  }

  .border-navy {
    border-color: #181F49;
  }

  .fill-navy {
    path: #181F49;
  }

  .fill-navy {
    fill: #181F49;
  }

  .fill-p-navy path {
    path: #181F49;
  }

  .fill-f-navy path {
    fill: #181F49;
  }

  .c-bg-navy-dark {
    background-color: #15193C;
  }

  .c-nederland,
  .c-orange {
    color: #FFBFA6;
  }

  .border-nederland,
  .border-orange {
    border-color: #FFBFA6;
  }

  .c-bg-nederland,
  .c-bg-orange {
    background-color: #FFBFA6;
  }

  .fill-orange {
    path: #FFBFA6;
  }

  .fill-p-orange path {
    stroke: #FFBFA6;
  }

  .c-blue {
    color: #71B7FE;
  }

  .c-purple {
    color: #A89BF9;
  }

  .c-wheat {
    color: #F5EFEC;
  }

  .fill-f-wheat path {
    fill: #F5EFEC;
  }

  .c-bg-wheat {
    background-color: #F5EFEC;
  }

  .c-bg-grey {
    background-color: #EDF2F4;
  }

  .fill-f-grey path {
    fill: #EDF2F4;
  }
}

@layer components {
  .btn-sm-solid {
    @apply rounded py-2 px-5 font-medium text-white bg-purple-600 hover:bg-purple-700 justify-center;
  }
}

.nuxt-icon {
  height: 100% !important;
  width: 100%  !important;
}


.svg-curve-up-bottom {
  position: absolute;
  width: 100%;
  height: 48px;
  top: -47px;
  z-index: 50;
} 

@media only screen and (min-width: 768px) {
  .svg-curve-up-bottom {
    top: -48px;
  }
}

.svg-curve-up-bottom-sit-bottom {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  z-index: 50;
} 

.svg-curve-down-bottom {
  position: absolute;
  width: 100%;
  height: 32px;
  bottom: 0;
  z-index: 50;
  left: 0;
}

.svg-curve-down-right {
  position: absolute;
  height: 100%;
  width: 32px;
  right: 0;
  top: 0;
  z-index: 50;
}

.prose {
  max-width: 100%;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  font-weight: 500;
}