@tailwind base;
@tailwind components;
@tailwind utilities;

/* *  {
  box-sizing: border-box;
  background: rgb(0 100 0 / 0.1) !important;
} */

@layer base {
  body {
    @apply text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "new-order"
  }
  
  a, 
  button {
    /* Global transition for all <a/> tags */
    @apply transition duration-200 ease-linear;
  }

  button {
    @apply w-full;
  }
}

@layer utilities {
  .f-new-order {
    font-family: "new-order"
  }

  .transition-default {
    @apply transition duration-200 ease-linear;
  }

  .c-navy {
    color: #181F49;
  }

  .c-bg-navy {
    background-color: #181F49;
  }

  .c-nederland {
    color: #FFBFA6;
  }

  .c-bg-nederland {
    background-color: #FFBFA6;
  }
}

@layer components {
  .btn-sm-solid {
    @apply rounded py-2 px-5 font-medium text-white bg-purple-600 hover:bg-purple-700 justify-center;
  }
}

.nuxt-icon {
  height: 100% !important;
  width: 100%  !important;
}