@tailwind base;
@tailwind components;
@tailwind utilities;

/* *  {
  box-sizing: border-box;
  background: rgb(0 100 0 / 0.1) !important;
} */

@layer base {
  body {
    @apply text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "new-order"
  }


  button {
    @apply w-full;
  }
}

@layer utilities {
  .f-new-order,
  .font-no {
    font-family: "new-order"
  }

  .transition-default {
    @apply transition duration-200 ease-linear;
  }

  .c-navy {
    color: #181F49;
  }

  .c-bg-navy {
    background-color: #181F49;
  }

  .c-bg-navy-dark {
    background-color: #15193C;
  }

  .c-nederland,
  .c-orange {
    color: #FFBFA6;
  }

  .border-nederland,
  .border-orange {
    border-color: #FFBFA6;
  }

  .c-bg-nederland,
  .c-bg-orange {
    background-color: #FFBFA6;
  }

  .c-blue {
    color: #71B7FE;
  }

  .c-purple {
    color: #A89BF9;
  }

  .curved-top {
    position: relative;
    background-color: #333; /* Change the color to whatever you want */
    padding: 20px;
    color: white;
    overflow: hidden; /* Ensures the pseudo-element does not flow outside the container */
  }

  .curved-top::before {
    content: '';
    position: absolute;
    top: -48px; /* Height of the curve */
    left: 0;
    width: 100%;
    height: 48px;
    background-color: inherit; /* Same as the div's background */
    border-radius: 50%/100px 100px 0 0; /* Horizontal radius / Vertical radii */
  }
}

@layer components {
  .btn-sm-solid {
    @apply rounded py-2 px-5 font-medium text-white bg-purple-600 hover:bg-purple-700 justify-center;
  }
}

.nuxt-icon {
  height: 100% !important;
  width: 100%  !important;
}